<h1>About 9cap</h1>

<h2>Vision</h2>
<p>
	To become number one real-time mobile social network for all TV audience in Hong Kong.
</p>

<h2>Mision</h2>
<p>
To help TV audience explore inter-related TV programmes, artists, producers and discussion bymachine learning	technology.
</p>
<p>
To offer TV audience real-time and high quality info through combining various info sources and research-in-advance by our editors.
</p>
<p>
To build channels between	TV audience	and	programme producers	which enhancesthe interaction between them and improve the quality of future programmes by providing real-time feedback and data analysis.
</p>
<%= render 'layouts/footer' %>