SITEMAP: http://www.advancedhtml.co.uk/sitemap.txt<h1>About 9cap</h1>

<BR>
	
<h3>We capture and share every wonderful moments</h3>

<p>
	9cap is a society with user generated funny screen captures with commenting and ratings.
</p>

<%= render 'layouts/footer' %>