<div class="hero-unit">
	<h1>Welcome to Treehole</h1>
	<p>
		You've found the home page for the 
		<%= link_to "Treehole", "#" %> 
	 	application.
	</p>
	<p>
		<%= link_to "Sign Up Now!", new_user_registration_path, class:"btn-primary btn-large" %>
	</p>
</div>