<div class="sidebar-nav-fixed" >
	<div class="fb-like" data-href="https://www.facebook.com/tvsauce" data-width="200" data-show-faces="true" data-send="false"></div>
	<h3>Trends</h3>
	<ul>
		<% @tags.each do |tag| %>
	 	<li><%= link_to tag.name, tag_path(:tag => tag.name) %></li>
			<% end %>
	</ul>

	<%= render 'layouts/footer' %>
</div>
